*
{
	margin: 0;
	padding: 0;
}
.container
{
	margin-top: 30px;
	margin-left: 430px;
	width: 776px;
	height: 446px;
	background-color: #ED9EAE;
	padding: 12px;
}
.case
{
	margin-top: 16px;
	margin-left: 10px;
	width: 758px;
	height: 68px;
	background-color: #C66376;
	font-size: 30px;
	color: #FFFFFF;
	padding: 1px;
}

.case_block
{
   
   margin-left: 45px;
   list-style-position: outside;
}

.block1
{
   width: 71px;
   height: 38px;
    text-align: justify;
    text-align-last: left;
    padding: 15px;
    background-color: #9E354A;
}
.block2
{
   width: 86px;
   height: 38px;
    text-align: justify;
    text-align-last: left;
    padding: 15px;
    background-color: #9E354A;
}
.block3
{
   width: 113px;
   height: 38px;
    text-align: justify;
    text-align-last: left;
    padding: 15px;
    background-color: #9E354A;
}
.block4
{
   width: 50px;
   height: 38px;
    text-align: justify;
    text-align-last: left;
    padding: 15px;
    background-color: #9E354A;
}
.block5
{
   width: 80px;
   height: 38px;
    text-align: justify;
    text-align-last: left;
    padding: 15px;
    background-color: #9E354A;
}