*
{
	margin: 0;
	padding: 0;
}

.container
{
	margin-top: 30px;
	margin-left: 30px;
	width: 300px;
	height: 600px;
	background-color: #808080;
}
.block
{
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 23px;
	color: #F1F5F5;
	list-style-position: inside;
	text-indent: 5px;
}
.block:hover
{
	background: #5E5E5E;
	color: #F1F5F5;
}
ul
{
	list-style-type: none;
}
img
{
	width: 67px;
	height: 67px;
}
