*
{
	margin: 0;
	padding: 0;
}

.container
{
	margin-top: 20px;
	margin-left: 500px;
	width: 700px;
	height: 540px;
	/*background-color: #ebe8e8;*/
}
.block
{
	width: 700px;
	height: 45px;
	font-size: 25px;
}
.box1
{
	height: 34px;
	background-color: #A5CCDA;
	list-style-position: outside;
	padding-top: 11px;
	padding-left: 45px;
	list-style-image: url(img/unchecked_16.png);
}
.box2
{
	height: 34px;
	background-color: #E2E2E2;
	padding-top: 11px;
	padding-left: 45px;
	list-style-image: url(img/checked_16.png);
}
.box3
{
	height: 34px;
	background-color: #ADD8E6;
	padding-top: 11px;
	padding-left: 45px;
	list-style-image: url(img/unchecked_16.png);
}
.box_li1
{
	padding-left: 15px;
}
.box_li2:after
{
	content: '\D7';
	color: red;
	font-weight: 700;
	padding-left: 35px;
}
span
{
	text-decoration-line: line-through
}
h1
{
	margin-left: 500px;
	margin-top: 10px;
}

