*
{
	margin: 0;
	padding: 0;
}
.container
{
	margin-left: 600px;
	width: 1000px;
	height: 900px;
}

.block
{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 18px;
}

li
{
	margin-left: 70px;
}
dt
{
	font-style: italic;
}
.span_color1
{
	color: #8C867F;
}
.span_color2
{
	color: #60259A;
}
h2
{
	margin-top: 30px;
	margin-left: 20px;
	padding-bottom: 10px;
}
p
{
	margin-left: 20px;
	font-size: 18px;
}